.menu-collapser {
    position: relative;
    background-color: #999;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 0;
    top: 49%;
    width: 16px;
    background-color: #0E0E0E;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 16px;
    margin: 2px 0;
}

.header_style_2 .collapse-button .icon-bar {
	background-color: #ffffff;
}

.slim-wrap ul.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	background: #fff;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.slim-wrap ul.menu-items li {
    position: relative;
    display: block;
}
.slim-wrap ul.menu-items > li { margin-right: -5px; border-left: 1px solid #999 }
.slim-wrap ul.menu-items > li:first-child { border-left: 0 }
.slim-wrap ul.menu-items > li:last-child { margin-right: 0 }
.slim-wrap ul.menu-items li a {
    display: block;
    color: #333;
    padding: 10px 40px 10px 16px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 16px;
    /*font-weight: 400;*/
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}
.slim-wrap ul.menu-items li a:hover {
    background-color: #999;
    text-decoration: none;
}
.slim-wrap ul.menu-items li .sub-collapser {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
.slim-wrap ul.menu-items li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.slim-wrap ul.menu-items li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.slim-wrap ul.menu-items li ul {
    margin: 0;
    list-style-type: none;
}
.slim-wrap ul.menu-items li ul li { background-color: #BBB }
.slim-wrap ul.menu-items li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
.slim-wrap ul.menu-items li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

.slim-wrap ul.menu-items.collapsed li {
    display: block;
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.slim-wrap ul.menu-items.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.slim-wrap ul.menu-items.collapsed li .sub-collapser {
    height: 32px;
}
.slim-wrap ul.menu-items.collapsed li > ul {
    display: none;
    position: static;
}
.slim-wrap {
    /*position:absolute;
    top:0;
    z-index:3;
    width:100%;
    position: fixed;
	left: 0;*/
}
.collapse-button,.collapse-button:hover {
    background: none;
    border: none;
    box-shadow: none;
}
.menu-collapser {
    background: none;
    height: 70px;
    line-height: 70px;
    padding: 10px 0;
}

.header_style_2 .menu-collapser {
    background: none;
}

.slim-wrap ul li a,
.slim-wrap ul li a:hover,
.slim-wrap ul li a:active,
.slim-wrap ul li a:focus {
  text-decoration: none;
}

.header_style_2 .slim-wrap ul.menu-items li {background: none;}
.slim-wrap ul.menu-items li a { color: #121212;text-transform: uppercase; font-size: 12px; font-weight: 400;}
.header_style_2 .slim-wrap ul.menu-items li a { color: #ffffff; font-weight: 700;}
.slim-wrap ul.menu-items li a:hover {background: transparent; color: #6bb42f;}
.slim-wrap ul.menu-items li .sub-collapser {background: transparent;}
.slim-wrap ul.menu-items li .sub-collapser > i {color: #a0a0a0;}
.header_style_2 .slim-wrap ul.menu-items li .sub-collapser > i {color: #ffffff;}
.slim-wrap ul.menu-items.collapsed li > ul {padding: 0;}
.slim-wrap ul.menu-items li ul li {background: none;}
.slim-wrap ul.menu-items > li {border-left: none;}
.slim-wrap ul.menu-items.collapsed li a i { display: none; }
.slim-wrap ul.menu-items.collapsed li a i.icon-basket { display: inline-block; padding-left: 5px; }
.slim-wrap ul.menu-items.collapsed li > ul > li {
    padding: 0 0 0 20px;
}
/*ul.slimmenu li a:hover {background-color: #}*/
.slim-wrap ul.menu-items li .sub-collapser > i {font-size: 12px;}

.menu-collapser > a {
	position: absolute;
	top: 0;
}